absl-py==0.7.1
anago==1.0.8
aniso8601==1.2.0
asn1crypto==0.24.0
astor==0.6.2
astroid==2.2.5
beautifulsoup4==4.6.0
bleach==1.5.0
boto==2.48.0
boto3==1.7.24
botocore==1.10.24
bz2file==0.98
certifi==2019.6.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.2.2
docutils==0.14
Flask==1.0.2
Flask-RESTful==0.3.6
gast==0.2.0
gensim==3.4.0
google-pasta==0.1.7
grpcio==1.12.1
h5py==2.9.0
html5lib==0.9999999
idna==2.6
isort==4.3.21
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
lazy-object-proxy==1.4.1
lxml==4.2.1
Markdown==2.6.11
MarkupSafe==1.0
mccabe==0.6.1
nltk==3.3
numpy==1.17.0
pandas==0.23.0
protobuf==3.9.0
pycparser==2.18
pycrypto==2.6.1
pylint==2.3.1
pymongo==3.4.0
pyOpenSSL==18.0.0
PySocks==1.6.8
python-dateutil==2.7.3
pytz==2018.4
PyYAML==5.1
requests==2.18.4
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
seqeval==0.0.9
six==1.11.0
smart-open==1.5.7
SQLAlchemy==1.2.8
symspellpy==6.3.8
tb-nightly==1.14.0a20190603
tensorboard==1.14.0
tensorflow==2.5.0rc0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019060501
typed-ast==1.3.4
urllib3==1.22
uWSGI==2.0.17
Werkzeug==0.14.1
wrapt==1.11.2
